
{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/signin.css') }}">
{% endblock %}

{% block sidebar %}
	<aside class="col-md-3 hidden-xs hidden-sm">
        <h4>Redes socialesff</h4>
        <section id="twitter">
                   <a class="twitter-timeline" href="https://twitter.com/StarWarsSpain" data-widget-id="686677715529928705">Tweets por el @StarWarsSpain.</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </section>
   </aside>

{% endblock %}